<section class="page" style="padding: 1rem 1rem">
  <div class="card">
    <p>&nbsp; This blog is built with NestJS in the backend and Angular + NgRx in the frontend.</p>

    <nz-divider nzText="Let's keep in touch 😁" nzOrientation="left"></nz-divider>
    <ul>
      <li>
        <a href="https://github.com/ultraMIND/">
          Github
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/mustapha-aouas-7918a214b/">
          LinkedIn
        </a>
      </li>
    </ul>
  </div>
</section>
