.page {
  --imageHeight: 340px;
  position: relative;
  max-width: 100%;

  .image-wrapper {
    position: absolute;
    height: var(--imageHeight);
    width: 100%;
    top: 0;
    left: 0;
    background: var(--normal-color);
  }

  .article {
    margin-top: calc(var(--imageHeight) - 90px);

    .article-body {
      max-width: 700px;
      padding: 1rem 0;
      margin: auto;
    }

    @media screen and (max-width: 950px) {
      .article-body {
        padding: 1rem 2rem;
        min-width: 100%;
      }
    }
  }
}
