<section class="page">
  <ng-template #prefixMail><i nz-icon type="mail"></i></ng-template>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>


  <nz-page-header nzBackIcon nzTitle="Sign in"> </nz-page-header>


  <div class="card">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

      <nz-divider nzText="Connexion information" nzOrientation="left"></nz-divider>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixMail">
            <input type="email" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
          <nz-form-explain
            *ngIf="validateForm.get('email')?.touched && validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
            Please input your email
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
            Please input your Password
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="User information" nzOrientation="left"></nz-divider>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">
            Please input your username
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="firstname" placeholder="Firstname" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('firstname')?.dirty && validateForm.get('firstname')?.errors">
            Please input your firstname
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input type="text" nz-input formControlName="lastname" placeholder="Lastname" />
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('lastname')?.dirty && validateForm.get('lastname')?.errors">
            Please input your lastname
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-divider nzText="Avatar" nzOrientation="left"></nz-divider>


      <nz-upload nzType="drag" [nzLimit]="1" [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList">
        <p class="ant-upload-drag-icon">
          <i nz-icon type="inbox"></i>
        </p>
        <p class="ant-upload-text">Click or drag your picture to this area to upload</p>
      </nz-upload>


      <br>


      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" nzType="primary">Sign in</button>
        </nz-form-control>
      </nz-form-item>

    </form>

  </div>
</section>