<div class="page" style="padding: 1rem">
  <div class="card-with-header">
    <nz-page-header>
      <nz-page-header-title>Categories</nz-page-header-title>
    </nz-page-header>

    <div class="card-with-header-content">
      <!-- ! add form -->
      <form *ngIf="categoryForm" [formGroup]="categoryForm" (submit)="addCategory()">
        <div style="display: flex">
          <nz-form-item style="width:100%">
            <nz-form-control [nzValidateStatus]="formFieldStatus('title')">
              <input nz-input type="text" placeholder="Category title" formControlName="title" />
            </nz-form-control>
          </nz-form-item>
          &nbsp;
          <nz-form-item style="width:100%">
            <nz-form-control [nzValidateStatus]="formFieldStatus('body')">
              <input nz-input type="text" placeholder="Category description" formControlName="body" />
            </nz-form-control>
          </nz-form-item>
          &nbsp;
          <button
            type="submit"
            nz-button
            nzType="primary"
            style="margin-top: 3.5px"
            [disabled]="!categoryForm.valid || categoryForm.pristine"
          >
            Add to the list !
          </button>
        </div>
      </form>
      <!-- ! list -->
      <nz-list [nzItemLayout]="'horizontal'" [nzDataSource]="categories$ | async" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item
            class="list-item"
            [nzContent]="contentTemplate"
            [nzActions]="
              editing[item.id] ? [editAction, stopEditAction] : [startEditAction, deleteAction]
            "
          >
            <ng-template #startEditAction>
              <a (click)="startEditingCategory(item)">edit</a>
            </ng-template>
            <ng-template #deleteAction>
              <a class="danger" (click)="deleteCategory(item)">delete</a>
            </ng-template>
            <ng-template #contentTemplate>
              <!-- ! display category info -->
              <ng-container *ngIf="!editing[item.id]">
                <h4 style="display: inline-block">
                  {{ item.title }}
                </h4>
                &nbsp;
                <span class="secondary-text">
                  {{ item.body }}
                </span>
              </ng-container>
              <!-- ! edit category -->
              <div style="display: flex" *ngIf="editing[item.id]">
                <nz-form-item style="width:100%; margin-bottom: 0">
                  <nz-form-control>
                    <input
                      nz-input
                      type="text"
                      placeholder="Category title"
                      [(ngModel)]="editing[item.id].title"
                    />
                  </nz-form-control>
                </nz-form-item>
                &nbsp;
                <nz-form-item style="width:100%; margin-bottom: 0">
                  <nz-form-control>
                    <input
                      nz-input
                      type="text"
                      placeholder="Category description"
                      [(ngModel)]="editing[item.id].body"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
            </ng-template>
            <!-- ! edit actions -->
            <ng-template #editAction>
              <a (click)="editCategory(editing[item.id])">save</a>
            </ng-template>
            <ng-template #stopEditAction>
              <a class="danger" (click)="stopEditingCategory(editing[item.id])">cancel</a>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
