<ng-container *ngIf="user && userForm">
  <form nz-form [formGroup]="userForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Actual password</nz-form-label>
      <nz-form-control [nzSpan]="19" [nzValidateStatus]="isInputError('password')">
        <input type="password" nz-input formControlName="password" placeholder="Actual password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">New password</nz-form-label>
      <nz-form-control [nzSpan]="19" [nzValidateStatus]="isInputError('password1')">
        <input type="password" nz-input formControlName="password1" placeholder="New password" />
        <nz-form-explain>Should be combination of numbers & alphabets</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">New password</nz-form-label>
      <nz-form-control [nzSpan]="19" [nzValidateStatus]="isInputError('password2')">
        <input type="password" nz-input formControlName="password2" placeholder="New password" />
      </nz-form-control>
    </nz-form-item>

    <br />
    <div style="display: flex; justify-content: flex-end">
      <button type="submit" nz-button nzType="primary" [nzLoading]="loading$ | async">Save</button>
    </div>
  </form>
</ng-container>
