/* You can add global styles to this file, and also import other style files */

// https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/scripts/site/_site/doc/theme.less
// https://github.com/ant-design/ant-design/blob/master/components/style/color/colors.less
:root {

  --primary-color: #1890ff;
  --info-color: #1890ff;
  --success-color: #52c41a;
  --processing-color: #1890ff;
  --error-color: #f5222d;
  --highlight-color: #f5222d;
  --warning-color: #faad14;
  --normal-color: #d9d9d9;
  --body-background: #f0f2f5;

  --heading-color: rgba(0, 0, 0, .85);
  --text-color: rgba(0, 0, 0, .65);
  --text-color-secondary: rgba(0, 0, 0, .45);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--normal-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.ant-layout-footer {
  text-align: right;
  padding: .5rem 1rem;

  span:hover {
    cursor: pointer;
    transition: color 0.3s;
    color: var(--primary-color);
  }
}

.ant-page-header {
  background-color: transparent; // var(--body-background);

  .ant-divider-vertical {
    background: var(--text-color);
  }
}

.card {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}